body {
    background-color: rgba(97, 85, 85, 0.488);  
    padding: 0;
    margin: 0;
    width: 100%;  
    height: 100vh;
}   


.bg-body-tertiary {
    background-color: brown !important;
}

.offcanvas-start {
    background-color: brown;
}

.navbar-toggler {
    border: 2px solid rgba(0, 0, 0, 0.505);
    background:none;
    margin-left: 20px;
    box-shadow: none !important;
}

.navbar-toggler:hover {
    border-color: rgb(0, 0, 0);
}

.form-control {
    background-color: gray;
    border-color: gray;
}

#homePage {
    width: 100%;
    height: auto;
}

#homePage img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.btm-bar {
    background-color: brown !important;
}

.btm-bar span {
    width: 120px;
    height: 40px;
    align-content: center;
    font-size: 0.9em;
    margin: auto 0.5%;
}

